server:
  port: 8200
spring:
  application:
    name: project-service

logging:
  level:
    pl.altkom.springcloud.lab03.eureka.projectservice.client: DEBUG
feign:
  client:
    config:
      default:
        loggerLevel: full
        requestInterceptors:
          - pl.altkom.springcloud.lab03.eureka.projectservice.client.interceptor.RequestHeaderCustomizerInterceptor

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/,http://localhost:8762/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always